/* Global Variables */
body {
  margin: 0;
  font-family: 'Gloria Hallelujah', cursive; }

/* HEADER */
header {
  height: 100vh;
  width: 100%; }
  header .bg1,
  header .bg2,
  header .bg3 {
    transition: .6s ease;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-size: cover;
    background-position: center center;
    position: absolute; }
  header .bg2 {
    background-image: url("../img/joshPic2.png"); }
  header .bg3 {
    background-color: #252525; }
  header .bg1 {
    background-color: #ffffff; }
  header nav {
    margin: 0 auto;
    padding-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 50%; }
    header nav a {
      font-size: 20px;
      text-decoration: none;
      transition: .2s ease; }
    header nav a:hover {
      background-color: #ccc;
      color: #086665; }
  header h1, header h3, header a {
    color: #086665;
    text-align: center; }
  header h1 {
    font-size: 55px;
    margin-top: 5%;
    margin-bottom: 5%; }
  header h3 {
    font-size: 26px; }
  header .logo {
    margin: 5% auto 0px;
    height: 150px;
    width: 150px;
    background-image: url("../img/logo.png");
    background-position: center center;
    background-size: cover; }
  header .slide-grp {
    margin: 0 auto;
    padding-top: 100px;
    width: 160px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 20px;
    justify-content: center; }
    header .slide-grp span {
      transition: .3s ease;
      cursor: pointer;
      position: relative;
      padding: 5px 20px 5px;
      background-color: #086665;
      margin: 0px 10px 0px; }
    header .slide-grp span#pg2, header .slide-grp span#pg3 {
      background-color: #ccc; }

/* MEDIA QUERIES */
@media screen and (max-width: 899px), screen and (max-height: 600px) {
  header h1 {
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 10px; }
  header h3 {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px; } }

@media screen and (max-width: 699px), screen and (max-height: 480px) {
  header h1 {
    font-size: 32px; }
  header h3 {
    font-size: 16px; }
  header nav {
    width: 80%; } }

@media screen and (max-height: 480px), screen and (max-width: 480px) {
  header .slide-grp {
    display: none; }
  header .logo {
    margin-top: 50px; }
  header nav {
    width: 95%; } }

/* About Section */
section#about {
  width: 100%;
  height: 500px;
  background-color: #086665;
  padding-bottom: 84px; }
  section#about h2,
  section#about h4,
  section#about h5 {
    padding: 0;
    margin-top: 0;
    color: #ffffff;
    text-align: center; }
  section#about h2 {
    padding-top: 85px;
    font-size: 36px; }
  section#about h4 {
    font-size: 22px;
    padding-top: 68px; }
  section#about h5 {
    padding-top: 22px;
    font-size: 16px; }
  section#about .insta-icon {
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    background-image: url("../img/insta-icon.png");
    background-position: center center; }
  section#about .insta-icon:hover {
    opacity: 0.7; }

/* MEDIA QUERIES */
@media screen and (max-width: 899px), screen and (max-height: 600px) {
  section#about h2 {
    font-size: 26px; }
  section#about h4 {
    font-size: 16px; }
  section#about h5 {
    font-size: 12px; } }

@media screen and (max-width: 699px), screen and (max-height: 480px) {
  section#about {
    padding-bottom: 10px; }
    section#about h2 {
      font-size: 20px; }
    section#about h4 {
      font-size: 12px; }
    section#about h5 {
      font-size: 10px; } }

@media screen and (max-width: 480px), screen and (max-height: 480px) {
  section#about {
    padding-bottom: 0px;
    height: 400px; }
    section#about h4 {
      font-size: 11px;
      padding-top: 0px; }
    section#about h5 {
      font-size: 10px; } }
