/* Global Variables */
body {
  margin: 0;
  font-family: 'Gloria Hallelujah', cursive; }

/* HEADER */
header {
  height: 100vh;
  width: 100%; }
  header .bg1,
  header .bg2,
  header .bg3 {
    transition: .6s ease;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-size: cover;
    background-position: center center;
    position: absolute;
    background-attachment: fixed; }
  header .bg2 {
    background-image: url("../img/img1.jpg"); }
  header .bg3 {
    background-image: url("../img/img2.jpg"); }
  header .bg1 {
    background-color: #ffffff; }
  header nav {
    margin: 0 auto;
    padding-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 50%; }
    header nav a {
      font-size: 20px;
      text-decoration: none;
      transition: .2s ease; }
    header nav a:hover {
      background-color: #ccc;
      color: #086665; }
  header h1, header h3, header a {
    color: #086665;
    text-align: center; }
  header h1 {
    font-size: 55px;
    margin-top: 5%;
    margin-bottom: 5%; }
  header h3 {
    font-size: 26px; }
  header .logo {
    margin: 5% auto 0px;
    height: 150px;
    width: 150px;
    background-image: url("../img/logo.png");
    background-position: center center;
    background-size: cover; }
  header .slide-grp {
    margin: 0 auto;
    padding-top: 100px;
    width: 160px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 20px;
    justify-content: center; }
    header .slide-grp span {
      transition: .3s ease;
      cursor: pointer;
      position: relative;
      padding: 5px 20px 5px;
      background-color: #086665;
      margin: 0px 10px 0px; }
    header .slide-grp span#pg2, header .slide-grp span#pg3 {
      background-color: #ccc; }

/* MEDIA QUERIES */
/* Medium */
@media screen and (max-width: 899px), screen and (max-height: 600px) {
  header h1 {
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 10px; }
  header h3 {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px; } }

/* Small */
@media screen and (max-width: 699px), screen and (max-height: 480px) {
  header h1 {
    font-size: 32px; }
  header h3 {
    font-size: 16px; }
  header nav {
    width: 80%; } }

/* Extra Small */
@media screen and (max-height: 480px), screen and (max-width: 480px) {
  header .slide-grp {
    display: none; }
  header .logo {
    margin-top: 50px; }
  header nav {
    width: 95%; } }

/* About Section */
section#about {
  width: 100%;
  height: 500px;
  background-color: #086665;
  padding-bottom: 84px; }
  section#about h2,
  section#about h4,
  section#about h5 {
    padding: 0;
    margin-top: 0;
    color: #ffffff;
    text-align: center; }
  section#about h2 {
    padding-top: 85px;
    font-size: 36px; }
  section#about h4 {
    font-size: 22px;
    padding-top: 68px; }
  section#about h5 {
    padding-top: 22px;
    font-size: 16px; }
  section#about .insta-icon {
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    background-image: url("../img/insta-icon.png");
    background-position: center center; }
  section#about .insta-icon:hover {
    opacity: 0.7; }

/* MEDIA QUERIES */
/* Medium */
@media screen and (max-width: 899px), screen and (max-height: 600px) {
  section#about h2 {
    font-size: 26px; }
  section#about h4 {
    font-size: 16px; }
  section#about h5 {
    font-size: 12px; } }

/* Small */
@media screen and (max-width: 699px), screen and (max-height: 480px) {
  section#about {
    padding-bottom: 10px; }
    section#about h2 {
      font-size: 20px; }
    section#about h4 {
      font-size: 12px; }
    section#about h5 {
      font-size: 10px; } }

/* Extra Small */
@media screen and (max-width: 480px), screen and (max-height: 480px) {
  section#about {
    padding-bottom: 0px;
    height: 400px; }
    section#about h4 {
      font-size: 11px;
      padding-top: 0px; }
    section#about h5 {
      font-size: 10px; } }

/* Section-Work */
section#work {
  width: 100%;
  text-align: center;
  height: 600px;
  max-height: 600px;
  padding-bottom: 100px; }
  @media screen and (max-width: 960px) {
    section#work {
      padding-bottom: 0px;
      max-height: auto; } }
  @media screen and (max-width: 760px) {
    section#work {
      max-height: 1160px;
      height: 100%; } }
  section#work h3 {
    margin: 0px;
    padding-top: 34px;
    font-size: 32px;
    color: #086665; }
  section#work .btn-seeMore {
    padding: 0.8em 1.5em;
    background-color: #086665;
    text-decoration: none;
    color: white;
    transition: .3s ease; }
    @media screen and (max-width: 960px) {
      section#work .btn-seeMore {
        display: none; } }
  section#work .btn-seeMore:hover {
    background-color: #ccc;
    color: #086665; }
  section#work .work-container {
    margin: 30px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 960px;
    margin-bottom: 40px; }
    @media screen and (max-width: 960px) {
      section#work .work-container {
        margin-bottom: 0px; } }
    @media screen and (max-width: 760px) {
      section#work .work-container {
        grid-template-columns: auto auto; } }
    section#work .work-container .work1,
    section#work .work-container .work2,
    section#work .work-container .work3,
    section#work .work-container .work4,
    section#work .work-container .work5,
    section#work .work-container .work6 {
      position: relative;
      width: 100%;
      display: block;
      padding-top: 70%;
      overflow: hidden;
      background-position: center center;
      background-size: cover; }
      @media screen and (max-width: 760px) {
        section#work .work-container .work1,
        section#work .work-container .work2,
        section#work .work-container .work3,
        section#work .work-container .work4,
        section#work .work-container .work5,
        section#work .work-container .work6 {
          padding-top: 100%; } }
      section#work .work-container .work1 strong,
      section#work .work-container .work2 strong,
      section#work .work-container .work3 strong,
      section#work .work-container .work4 strong,
      section#work .work-container .work5 strong,
      section#work .work-container .work6 strong {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 24px;
        display: block;
        padding: 20px 20px;
        line-height: 1.2; }
        @media screen and (max-width: 480px) {
          section#work .work-container .work1 strong,
          section#work .work-container .work2 strong,
          section#work .work-container .work3 strong,
          section#work .work-container .work4 strong,
          section#work .work-container .work5 strong,
          section#work .work-container .work6 strong {
            font-size: 14px; } }
      section#work .work-container .work1 .work-overlay,
      section#work .work-container .work2 .work-overlay,
      section#work .work-container .work3 .work-overlay,
      section#work .work-container .work4 .work-overlay,
      section#work .work-container .work5 .work-overlay,
      section#work .work-container .work6 .work-overlay {
        position: absolute;
        top: 100%;
        bottom: 0;
        height: 100%;
        left: 0;
        right: 0;
        background: rgba(8, 102, 101, 0.9);
        transition: .3s ease-out; }
      section#work .work-container .work1:hover .work-overlay,
      section#work .work-container .work2:hover .work-overlay,
      section#work .work-container .work3:hover .work-overlay,
      section#work .work-container .work4:hover .work-overlay,
      section#work .work-container .work5:hover .work-overlay,
      section#work .work-container .work6:hover .work-overlay {
        top: 0%;
        bottom: 0;
        left: 0;
        right: 0; }
    section#work .work-container .work1 {
      background-image: url("../img/w1.jpg"); }
    section#work .work-container .work2 {
      background-image: url("../img/w2.jpg"); }
    section#work .work-container .work3 {
      background-image: url("../img/w3.jpg"); }
    section#work .work-container .work4 {
      background-image: url("../img/w4.jpg"); }
    section#work .work-container .work5 {
      background-image: url("../img/w5.jpg"); }
    section#work .work-container .work6 {
      background-image: url("../img/w6.jpg"); }

/* Section-Quote */
section#quote {
  height: 400px;
  width: 100%;
  text-align: center;
  background-image: url("../img/qbg.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; }
  section#quote h4 {
    padding: 150px 0px 0px;
    margin: 0;
    font-size: 24px;
    color: #ffffff; }
    @media screen and (max-width: 760px) {
      section#quote h4 {
        font-size: 20px; } }
    @media screen and (max-width: 330px) {
      section#quote h4 {
        padding: 50px; } }
  section#quote h5 {
    font-size: 20px;
    padding-top: 30px;
    margin: 0;
    color: #ffffff; }
    @media screen and (max-width: 330px) {
      section#quote h5 {
        padding-top: 0px; } }
